.fa-gamepad {
  font-size: 150px;
  color: green;
  position: absolute;
  bottom: 0;
}

.fa-gamepad.player2{
  right: 0;
}
.fa-pause-circle{
  margin-left: 900px;
  font-size: 20px;
  color: blue;
  margin-top: 20px;
}
.fa-backward{
  margin-top: 10px;
  color: blue;
  font-size: 20px;
  margin-bottom: 10px;
}

.fa-step-backward{
  margin-top: 10px;
  color: blue;
  font-size: 20px;
  margin-bottom: 10px;
}
.show_diem{
  font-size: 15px;
}
.show_diem .diem2{
  margin-left: 900px;
}

.show_nextnumber {
  margin-left: 500px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 20px;
  width: 50px;
  height: 50px
  border: thin;
  text-align: center;
  background-color: yellow;
}


.fa-gamepad.foo {
color:red;
-webkit-transition:color 4s;
-moz-transition:color 4s;
-o-transition:color 4s;
transition:color 4s
}
