
.manhinh1 .btn.btn-info{
  font-size: 80px;
  text-align: center;
}

.manhinh2 .btn.btn-info{
  font-size: 80px;
  text-align: center;
}

.manhinh3 .show_text{
  font-size: 50px;
  font-style: bold;
  color: red;
}
